body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
section
{
    width: 100%;
    height: 100vh;
}

/* -----------------------nav bar---------------- */
.navbar
{
    position: absolute;
    z-index: 3;
}
*{
	box-sizing: border-box;
}


 a{
	text-decoration: none;
	color: #eee;
}

nav{
    padding-top: 0rem;
    margin-top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

/* .brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
} */

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}


@media screen and (max-width: 993px)
{
    .navbar
    {
        background-color: rgb(0, 0, 0,0.5);
    }
}

/* ----------------first-section------------------ */
.txt 
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.txt h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-size: 15vw;
    letter-spacing: 5vw;
    background: -webkit-linear-gradient(45deg,#a6dcef, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.txt p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    letter-spacing: 2vw;
    color: white;
    
    
}
 .layer2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/bg-1.jpg);
    background-position: center;
    background-attachment: fixed;
    /* transition: 2s; */
}
 .layer1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 80%;
    height: 80%;
    background: transparent;
    /* background: url(images/bg-1.jpg);
    background-position: center;
    background-size: cover; */
    z-index: 1;   
}
.box-1
{
    position: absolute;
    width: 50%;
    height: 90%;
    top: 50%;
    left: 0%;
    transform: translate(-0% , -50%);
    background: url(images/bg-1.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 25px 30px rgba(0,0,0,0.8);
}
.box-2
{
    position: absolute;
    width: 50%;
    height: 90%;
    top: 60%;
    right: 0%;
    transform: translate(-0% , -50%);
    background: url(images/bg-1.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 25px 30px rgba(0,0,0,0.9);
}
.layer1  ~ .layer2
{
    filter: blur(5px);
}
.box-2 .box-1 ~ .layer1
{
    filter: blur(5px);
}

/* ------------ABOUT US----------- */
.abt-imgbox
{
    width: 100%;
    height: 100%;
    transform: translate(0%,-60%);
}
.about-img
{
    transform: translate(100%,10%);
    width: 50%;
    height: 60%;
    background: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    border: 10px solid white;
    box-shadow: 0 25px 60px rgba(0,0,0,0.9);

}
.about-img2
{
    transform: translate(150%,-120%);
    width: 25%;
    height: 30%;
    background: url(images/img-3.jpg);
    background-position: center;
    background-size: cover;
    border: 10px solid white;
    box-shadow: 0 25px 60px rgba(0,0,0,0.9);
}
.abt-txt
{
    transform: translate(10%,20%);
    width: 30%;
    height: 70%;
}
.abt-txt h1
{
    font-size: 4vw;
    text-align: center;
    letter-spacing: 1.5vw;
    padding: 10px;
}
.abt-txt p
{
    font-size: 1vw;
}
/*---------- SERVICES------------- */
#service
{
    background-color: rgb(173, 228, 152,0.2);
    overflow: hidden;
}

.container-fluid
{
    padding: 7%,15%;
}
 .s-txt
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-txt
{
    /* width: 40%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    font-size: 1.2rem;
}
.left-txt h1
{
    font-size: 3rem;
    color: #004445;
    text-align:left;
}

.right-txt
{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
    height: 60%; */
    font-size: 1rem;
    margin-top: 50px;
} 

.t-card {
    max-width: 300px;
    margin: auto;
    font-family: arial;
    /* text-align: center; */
   
  }
  .t-container
  {
      
      /* text-align: justify; */
      max-width: 240px;
  }
  
  .p-01
  {
    transform: translate(50%,10%);
  }
  .p-02
  {
    transform: translate(25%,30%); 
  }
  .p-03
  {
    transform: translate(0%,10%);
  }


/*---------------- TESTIMONIAL ---------------*/
.testimonial-container
{
    /* min-height: 100vh;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.slider
{
    display: block;
    /* height: 100%;
    width: 100%; */
    max-width: 850px;
    margin: 0,auto;
    position: relative;
}
.slide
{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slide-text
{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    /* background-image: url();  for qote image in background
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top center; */

}
 .testimonial-text
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
}
.author-text
{
    margin-top: 20px;
    font-size: 1.2rem;
}
.author-text span
{
    color: hsl(240,18%,77%);
    font-weight: 500;
    display: block;
}

.slide-img
{
   
    margin: 0,auto;
    height: 100%;
    padding: 40px;
}
.slide-img img
{
    height: 100%;
    width: 200px;
}
/*===== button============ */

 .prev, 
 .next
{
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
.buttons
{
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 45px;
    background-repeat: no-repeat; 
    box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
    border-radius: 50px;
    background-color: white;
    overflow: hidden;
} 
.prev
{
    left: 0;
}
.next
{
    right: 0;
}
.prev:hover,
.next:hover
{
    background-color: antiquewhite;
}
.next::after,
.prev::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
} 
.next::after {
	background-image: url(images/icon-next.svg)
}
.prev::after {
	background-image: url(images/icon-prev.svg);
}
@media only screen and (min-width:768px) 
{
    .slide{
        flex-direction: row;
        text-align: left;
    }
    .slide-text
    {
        background-position: 5% top;
        background-size: 100px;
        align-items: flex-start;
    }
    .slide-img
    {
        margin-left: -70px;
        z-index: -1;
    }
    .slide-img img
    {
        width: 250px;
    }
    .buttons
    {
        top: 390px;
        transform: translate(0);
        left: 1;
        left: calc(100% - 200px);
    }
}

/*-------------- contact------------------- */
#contact-section
{
    background: url(images/f-1.jpg);
    background-position: center;
    background-size: cover;
    
}
button
{
    border: none;
    background-color: cadetblue;
    color: wheat;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 10px;
}
button:hover
{
    border: none;
}
.container
{
    padding-top: 100px;
    text-align: justify;
}
.contact-box
{
    overflow-x: hidden;
    background-color: rgb(0, 0, 0,0.3);
    max-width: 90%;
    padding: 60px;
    text-align: center;
    
}
.group {
    position: relative;
    margin-bottom: 25px;
}
.group_inputerror label {
    color: red;
}
.group_inputerror input[type="text"]:focus~label,
.group_inputerror input[type="text"]:valid~label,
.group_inputerror input[type="number"]:focus~label,
.group_inputerror input[type="number"]:valid~label,
.group_inputerror input[type="password"]:focus~label,
.group_inputerror input[type="password"]:valid~label,
.group_inputerror textarea:focus~label,
.group_inputerror textarea:valid~label {
    color: red;
}
.group_inputerror .bar:before,
.group_inputerror .bar:after {
    color: red;
}
input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    font-size: 18px;
    line-height: 20px;
    padding: 39px 10px 4px 5px;
    display: block;
    width: 60%;
    border: none;
    border-bottom: 1px solid #bbb;
    background: transparent !important;
    -webkit-appearance: none;
    text-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    line-height: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: none;
    -webkit-appearance: none;
}
/* LABEL ======================================= */
label {
    color: white;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 0;
    top: 36px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* active state */
input[type="text"]:focus~label,
input[type="text"]:valid~label,
input[type="number"]:focus~label,
input[type="number"]:valid~label,
input[type="password"]:focus~label,
input[type="password"]:valid~label,
textarea:focus~label {
    left: 0px;
    top: 10px;
    font-size: 14px;
    color: #0D4B7F;
}
/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #0D4B7F;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 0%;
}
.bar:after {
    right: 0%;
}
/* active state */
input[type="text"]:focus~.bar:before,
input[type="number"]:focus~.bar:before,
input[type="password"]:focus~.bar:before,
textarea:focus~.bar:before {
    width: 60%;
}
input[type="text"]:focus~.bar:after,
input[type="number"]:focus~.bar:after,
input[type="password"]:focus~.bar:after,
textarea:focus~.bar:after {
    width: 0%;
}
/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */
input[type="text"]:focus~.highlight,
input[type="number"]:focus~.highlight,
input[type="password"]:focus~.highlight,
textarea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@media screen and (max-width:640px)
{
    .abt-txt p
    {
        font-size: 10px;
        text-align: justify;
        
    }
    .left-txt h1
    {
        font-size: 20px;
    }
    .right-txt
    {
        font-size: 0.5rem;
        margin-top: 30px;
    }
    .t-card
    {
        max-width: 50%;
    }
    .t-container
    {
        max-width: 200px;
    }
    .p-01
    {
        transform: translate(10%,0%);
    }
  .p-02
    {
        transform: translate(0%,0%);
    }
  .p-03
    {
        transform: translate(0%,0%);
    }
}
